@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Skia'; /* имя шрифта для использования в CSS */
    src: url('skia.ttf'); /* путь к файлу относительно CSS */
    font-weight: normal;
    font-style: normal;
}


body {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw; height: 100vh;
    user-select: none;
    white-space: nowrap;
    font-stretch: condensed;
}

.page12 {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 988;
    overflow: scroll;
    flex-shrink: 0;
}

.page12 .cert {
    height: 3543px;
    width: 2480px;
    padding: 40px;
    position: relative;
    background: white;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: box-shadow .1s linear;
    flex-shrink: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.page12 .cert-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 2480px;
}

.page12 .cert:hover {
    -webkit-box-shadow: 4px 4px 22px -1px rgba(34, 60, 80, 0.61);
    -moz-box-shadow: 4px 4px 22px -1px rgba(34, 60, 80, 0.61);
    box-shadow: 4px 4px 22px -1px rgba(34, 60, 80, 0.61);
    transition: box-shadow .1s linear;
}

.page12 .cert:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: box-shadow .1s linear;
}


.newcert, .editteacher {
    border: none;
    font-family: 'Montserrat', sens-serif;
    background: #833ae0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s linear, box-shadow .1s linear;
}

.newcert:hover, .editteacher:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 5px 2px rgba(138, 138, 138, 0.53);
    transition: transform .1s linear, box-shadow .1s linear;
}

.newcert:active, .editteacher:active {
    transform: scale(1);
    box-shadow: none;
    transition: transform .1s linear, box-shadow .1s linear;
}

.editteacher {
    top: 100px;
}

.student-name {
    font-size: 120px;
    font-weight: bold;
    top: 1077px;
    left: 393px;
    width: 1694px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0; padding: 0;
}

.student-name * {
    margin: 0; padding: 0;
}

.footer {
    width: 1932px;
    left: 274px;
    top: 3100px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin: 0; padding: 0;
}

.teacher-name-group {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin: 0; padding: 0;
}

.mentor {
    margin: 0; padding: 0;
    font-size: 70px;
}

.name, .year {
    font-family: "Skia";
    margin: 0; padding: 0;
    font-size: 110px;
    font-weight: 900;
    color: #c75d38;
}